

.container{
  width: 100%;
  height: 100%;
 
}
.login-form {
  width: 500px;
  height: 520px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  margin:  0 auto;
  margin-top: 100px;
  background-color: rgb(241, 164, 20);
}
.login-form h1{
  display: inline-block;
  
}
.login-form input {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 20px;
  margin-bottom: 20x;
  margin-top: 5px;
}
.login-form button {
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(39, 104, 195);
  color: white;
  border: 1px solid grey;
  
}
.login-button {
  margin-top: 10px;
}
.google-button{
  
  width: 280px;
  margin: 0 auto;
}
.line-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  
}

.line-left {
  flex: 1;
  height: 1px;
  background-color: #000; 
  margin-left: 100px;
  
}
.line-right {
  flex: 1;
  height: 1px;
  background-color: #000; 
  margin-right: 100px;
}

.or {
  margin: 0 10px; 
}
b{
  color:blue;
}
.p1 {
  margin-right: 20px;
  margin-left: 40px;
  text-align: left;
  font-size: 14px;
  color: rgba(93, 78, 78, 0.829);
  margin-top: 1.5em;
}
.div-p0{
  font-size: 17px;
}