.custom-container {
  box-shadow: none !important;
  margin: 0 !important;
  background-color: transparent !important;

}
.custom-body {
  padding: 0 !important;
  margin: 0 !important;
}
.custom-toast {
  animation-duration: 0.3s !important; /* Thời gian cho hiệu ứng Zoom */
}
