.wrapper {
  width: 1200px;
  min-height: 2000px;
}

a {
  color: #000;
  text-decoration: none;
}

.info-user {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 250px;
  padding: 20px;
  margin-bottom: 24px;
  background: linear-gradient(45deg, #020101, #f3e9ec);
  user-select: none;
}

.img-email {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
  border: 1px solid black;
}

.btn-update-header-img {
  width: 180px;
  height: 30px;
  margin-top: 25px;
  margin-left: 200px;
  border-radius: 5px;
}
.name-user {
  width: 500px;
  margin-left: 20px;
}
.lb1 {
  font-size: 25px;
  background-color: black;
  color: white;
  height: 40px;
  margin-left: 10px;
  display: inline;
}
.lb2 {
  font-size: 15px;
  background-color: black;
  color: rgb(164, 161, 161);
  margin-top: 0;
  margin-left: 10px;
  display: inline;
}
.camera {
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 2px;
}
.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 15px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.btn-share {
  margin-left: auto;
  background-color: white;
  color: black;
  border: 1px solid rgb(189, 184, 184);
  width: 80px;
  height: 30px;
  margin-top: 15px;
  border-radius: 5px;
}
.btn-edit {
  cursor: pointer;
  margin-right: 50px;
  margin-left: 10px;
  background-color: white;
  color: black;
  border: 1px solid rgb(189, 184, 184);
  width: 80px;
  height: 30px;
  margin-top: 15px;
  border-radius: 5px;
}
.navbar {
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  color: #000;
  border-bottom: 0.5px #f2f2f2 solid;
}

.group-btn_left .active {
  color: #f50;
  border-bottom: 2px solid #f50;
}
.info-music {
  display: flex;
}
.nav-info-left {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}

.nav-info-left-head {
  padding: 0px;
  height: 50px;
}
.nav-info-right {
  width: 330px;
  display: flex;
  flex-direction: column;
}
.follwer-body {
  margin-top: 20px;
  display: flex;
  font-size: 18px;
  padding-left: 30px;
}
.follower,
.following,
.tracks {
  margin-left: 10px;
  padding: 10px;
  border-left: 0.5px #f2f2f2 solid;
  height: 40px;
}

.follwer-item {
  border-left: 0.5px #f2f2f2 solid;
  margin-top: 15px;
  height: 500px;
}
.brand-items {
  margin-top: 20px;
  font-size: 12px;
  padding: 30px;
  text-align: left;
  color: #ccc;
}
.info-music-list {
  width: 850px;
  height: 500px;
  text-align: center;
  font-size: 18px;
  // align-items: center;
  // justify-content: center;
}

.router-item {
  margin-top: 15px;
  height: 500;
}

.group-btn_left span {
  margin-left: 6px;
}

.group-btn_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-btn_right span {
  margin-left: 6px;
}

.group-btn_right div {
  font-size: 12px;
  margin-left: 12px;
  color: #787878;
}

.group-btn_left button {
  margin-right: 4px;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  color: #333;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  cursor: pointer;
}

.button-item {
  margin-left: auto;
  margin-right: 10px;
}
.btn-route-upload {
  width: 80px;
  height: 30px;
  background-color: #f50;
  color: black;
  text-decoration: none;
  margin-left: 0px;
  padding: 5px;
  margin-top: 5px;
}
.router-view {
  padding: 50px;
}
.p-title {
  color: blue;
  font-size: 15px;
}
.edit-icon,
.share-icon {
  margin-right: 5px;
  margin-top: 2px;
  height: 15px;
  width: auto;
}

.info-song {
  display: flex;
}

.info-song_desc {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.list-music_playbtn {
  display: flex;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #f50;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.icon-play {
  margin: auto;
}

.list-music_playbtn:hover {
  background-color: #f30;
}
.list-music_playbtn i {
  font-size: 24px !important;
  margin-left: 2px;
  width: 18px;
}

.box-song {
  display: flex;
}

.duration-song {
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
}

.img-song {
  flex: 1;
  width: 35%;
  background-size: cover;
}

.side-bar {
  padding-left: 8px;
  border-left: 1px solid #eaeaea;
}

.song-box {
  display: flex;
  margin: 20px;
}

.song-box_playlist {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.song-box_img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.playlist_name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.playlist_countfollow,
.playlist_btnfollow {
  font-size: 12px;
  color: #787878;
  margin-bottom: 4px;
}

.playlist_countfollow span,
.playlist_btnfollow span {
  line-height: 1.5;
  margin-left: 4px;
}

.playlist_btnfollow {
  display: flex;
  max-width: 80px;
  border: 1px solid #f50;
  background-color: #f50;
  padding: 2px 0;
  border-radius: 4px;
  color: #fff;
  margin-top: 4px;
  cursor: pointer;
}

.playlist_btnfollow--auto {
  margin: auto;
}

.follow {
  max-width: 100px;
  border: 1px solid #f50;
  background-color: transparent;
  padding: 2px 0;
  border-radius: 4px;
  color: #f50;
}

.song-box_info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.info_nameart {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  margin: 10px 10px 0 0;
}

.info_desc {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px 10px 0;
}

.song-box_icon {
  margin-left: 8px;
}
