.wrapper {
  display: flex;
}
.send-btn {
  width: 40px;
  height: 40px;
  border: 1.5px solid #cbcaca;
  border-radius: 50%;
  opacity: 0.6;
  &:hover {
    background-color: #f3f3f3;
  }
}
.input {
  height: 40px;
  border-radius: 24px;
  border: none;
  padding: 0 35px 0 16px;
  color: #000;
  font-weight: 100;
  background-color: #f3f3f3;
  width: 100%;
  font-weight: 400;
}
.close-btn {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Q2xvc2U8L3RpdGxlPjxwYXRoIGQ9Ik0xMCA4LjU0NUwzLjQ1NSAyIDIgMy40NTUgOC41NDUgMTAgMiAxNi41NDUgMy40NTUgMTggMTAgMTEuNDU1IDE2LjU0NSAxOCAxOCAxNi41NDUgMTEuNDU1IDEwIDE4IDMuNDU1IDE2LjU0NSAyIDEwIDguNTQ1eiIgZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==)
    50% no-repeat;
  background-size: 75%;
  width: 20px;
  height: 20px;
  border: none;
  color: #666;
  position: absolute;
  right: 12px;
  top: 13px;
}
