.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid #f2f2f2;
}
.title {
  h3 {
    font-size: 14px;
    display: flex;
    gap: 4px;
    font-weight: 400;
    color: #999;
  }
}
.selection:hover {
  background-color: #f50;
  color: #fff;
}

.active {
  color: #f50 !important;
  background-color: transparent !important;
}

.drop-bar {
  clear: both;
  position: relative;
  top: -1px;
  height: 14px;
  margin: 45px 0 0;
  border-top: 1px solid #f2f2f2;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    left: 0;
    top: -9px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAOCAAAAAB4YAGaAAAAtElEQVR4AY3RT+uCMADG8d7/O3gKifLQQTpoHbp0+RlFET+LKDP6R5Ag08ogvKhrRIlbq/w+bKfPaSvRgklg4rQURV+mP6GGR3r0HZoUeMr0M0zaMSK8WkthnBj0dC2HOGSwaVrRGySdEOeqix1myKWGIlyoHmxM2QbI1xXhCFsM0WPnj4MNEU5wxD/GsNDnoCFCp0Zgs60w5+BehDfnAhceAvj1TFW0jewdfRpQwu7Cfy3vDqsH6oJzha+DAAAAAElFTkSuQmCC)
      50% no-repeat;
  }
}
