.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid #f2f2f2;
}
.title {
  h3 {
    font-size: 14px;
    display: flex;
    gap: 4px;
    font-weight: 400;
    color: #999;
  }
}
.selection:hover {
  background-color: #f50;
  color: #fff;
}

.active {
  color: #f50 !important;
  background-color: transparent !important;
}

.drop-bar {
  clear: both;
  position: relative;
  top: -1px;
  height: 14px;
  margin: 45px 0 0;
  border-top: 1px solid #f2f2f2;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    left: 0;
    top: -9px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAOCAAAAAB4YAGaAAAAtElEQVR4AY3RT+uCMADG8d7/O3gKifLQQTpoHbp0+RlFET+LKDP6R5Ag08ogvKhrRIlbq/w+bKfPaSvRgklg4rQURV+mP6GGR3r0HZoUeMr0M0zaMSK8WkthnBj0dC2HOGSwaVrRGySdEOeqix1myKWGIlyoHmxM2QbI1xXhCFsM0WPnj4MNEU5wxD/GsNDnoCFCp0Zgs60w5+BehDfnAhceAvj1TFW0jewdfRpQwu7Cfy3vDqsH6oJzha+DAAAAAElFTkSuQmCC)
      50% no-repeat;
  }
}
.comment-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMIAAADDCAMAAADnYz6mAAAAQlBMVEUAAAD09PTz8/P19fX19fXr6+vt7e319fX19fXx8fH09PT19fX19fX09PT09PS/v7/09PTMzMz19fX09PTz8/P19fXpFaatAAAAFXRSTlMAd1Uzxg0Ox8U4WvT4jKYEpwXEjhaS10p/AAABSklEQVR4XuzPuQ2AMAAEsKNNIh6h7L8qS9CcZG/gXOOoNp6cu9ydtcut7HoKP1BQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFCYu9zMu8t91c+7DQIxAMBQEx+fFDQI9l+VjvoUCSn2AtZ7whwnuiwfXuO/TU7mquBxZZPMC3BZECccGwkwL8C8APMCzAswL8C8APMCzAswL8C8APMCzAswL8C8APMCzAswL8C8APMCzAswL8C8APMCzAswL8C8APMCzAswL8C8APMCXBAUCMeNUOYFmBdgXoB5AeYFmBdgXoB5AeYFmBdgXoB5AeYF+BPECfewAPMCzAswL8C8APMC3hsLvt9F8VIcwPHcAAAAAElFTkSuQmCC);
  background-size: 194px 195px;
  height: 195px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 240px;
}
