.feed__heading {
    font-weight: 500;
}

.feed__modul-list-item {
    display: flex;
    margin-bottom: 40px;
    font-size: 1rem;
    //background-color: var(--white);  /* Màu nền trong suốt ban đầu */
    transition: background-color 0.3s ease;  /* Hiệu ứng chuyển đổi màu nền */
}

.feed__modul-list-item:hover {
    background-color: hsl(0deg 64.52% 71.47% / 10%);
    //background-color: hsl(0deg 0% 100% / 10%);
}

.feed__modul-item-authorname-main {
    display: flex;
    margin: 0 8px;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 4px;
    margin-top: 24px;
}

.feed__modul-authorname-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.feed__modul-item-image {
    width: 110px;
    height: 110px;
    align-items: center;
    margin: 8px;
    border: 1px solid #dbdbdb;
}

.feed__modul-item-info{
    //display: flex;
    align-items: center;
    flex-direction: column;
    margin: 12px 12px 12px 0;
}

.feed__modul-item-song-info {
    display: flex;
    align-items: center;
}

.feed__modul-item-play {
    position: relative;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    //transform: translate(-50%, -50%);
    // display: none;
    //z-index: 10;
    background-color: #f50;
    font-size: 25px !important;
    color: #fff !important;
    cursor: pointer;
    &:hover {
        background-color: #f30;
    } 
}

// .feed__modul-item-song{

// }

.feed__modul-item-authorname {
    font-size: 1rem;
    color: #999;
}

.feed__modul-item-songname {
    line-height: 1.2rem;
    max-height: 4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    flex: 1 1;
    padding-right: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*OPTION GROUP*/
.feed__modul-option-group{
    //display: flex;
    text-align: left;
    justify-content: space-between;
    
}

/*TIPPY*/
.feed__modul-option-btn {
    margin: 0 6px;
    text-align: left;
    padding: 1px 12px;
    background-color: var(--white);
    border: 1px solid #dbdbdb;
    cursor: pointer;
}

.liked, .reposted, .shared, .copyed {
    color: var(--orange-primary);
}

.btn-option-icon {
    margin-left: 4px;
}

/*MORE*/
.option-btn-more{
    margin: 0 12px;
    padding: 2px 12px;
    background-color: var(--white);
    border: 1px solid #dbdbdb;
    cursor: pointer;
}