.wrapper {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.menuitem-wrapper {
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  min-height: 30px;
  padding-left: 8px;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }
}
.icon-wrapper {
  min-width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  padding-left: 0;
}
.primary {
  color: var(--orange-primary);
}
