.wrapper {
  color: #333;
  box-shadow:
    0 0 4px rgba(0, 0, 0, 0.2),
    inset 0 0 2px #fff;
  background-color: #fff;
  padding: 0;
  min-height: 44px;
  border: 1px solid #ccc;
  display: flex;
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  display: none;
}

.wrapper:hover .close-btn {
  display: flex;
}
