body {
    
    font-family: sans-serif;
  }
  .signup-form {
    width: 400px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin:  0 auto;
    margin-top: 200px;
    background-color: rgb(241, 164, 20);

  }
  .signup-form h1{
    display: inline-block;
  }
  .signup-form input {
    width: 280px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    margin-bottom: 20x;
    margin-top: 5px;
  }
  .signup-form button {
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(39, 104, 195);
    color: rgb(22, 5, 5)
    
    
  }
  .signup-button {
    margin-top: 10px;
  }
  .div-p0{
    font-size: 17px;
    margin-top: 5px;
  }